{block content}
	<h1>Úvod</h1>
	Výtejte v demostrační aplikace pro firmu <a href="http://kelio.cz/" target="_blank">kelio</a>.<br />
	V levé části pokračujte na různé položky menu či přihlášení.<br />
	Testovací uživatelé(login, heslo): admin, admin + demo, demo<br />
	V pravé části se budou zobrazovat ovládací prvky a text.<br />
	Tento text nelze editovat pomocí rozhraní je staticky uložen v šabloně "homepage:default".<br /><br />
	<div class="Right">S přáním hezkého dne<br /><strong>Jakub Strych</strong></div>
{/block}