{block content}
{if $id > 2 &&  $user->isLoggedIn() && $user->isAllowed('article', '_delete')}
	<h1>Smazat uživatele</h1>
	<div class="Center AdminControl">
		Opravdu chcete smazat uživatele s názvem "{$usernow['login']}"?
		<a n:href="delete! $id, TRUE">Ano</a>
		<a n:href="User:list">Ne</a>
	</div>
{else}
	{include '../Error/404.latte'}
{/if}